# Aqui definiremos las variables de entrono

#Este archivo sirve para indicar cuales son las variables de entorno que hay que llenar

SECRET_KEY=
MONGO_URL=


NEXT_PUBLIC_CLIENT_KEY=

#Las variables de entorno solo deberian funcionar y ser vistar desde el lado del servidor
#Por ende Next ya nos cubre esa necesidad, por que si tratamos de obtener acceso a las variables de entorno
#desde el lado del cliente, Next no nos va a dejar
#Pero hay ocasiones que lo necesitamos, por ejemplo con key de cliente, y para indicarle a Next que una variable
#de entorno puede se accesible desde el lado del cliente, se lo indicamos con la palabra reservada "NEXT_PUBLIC_"

